* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
html, body, #map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}
/*main wrapper*/
header {
  text-align: center;
  font-size: 40px;
}
h1 {
  color: rgb(57, 136, 53);
  text-shadow: 1px 1px 1px #000000;
  font-family: Times;
}
#landing-slide{
  z-index: 100;
  position: absolute;
  background-color: rgba(250,250,250,0.7);
  width: 100%;
  height: 100%;
}

#main-form {
  margin: 0 auto;
  width: 60%;
}

#hide {
  position: relative;
  float: right;

}
#form input {
  border: 1px solid #AAAAAA;
  border-radius: 30px 0 0 30px;
  font-size: 30px;
  padding: 10px 30px;
  width: 80%;
  float: left;
  outline: none;
}
#form button {
  border: 1px solid #AAAAAA;
  border-radius: 0 30px 30px 0;
  float: right;
  font-size: 30px;
  padding: 10px 0;
  width: 20%;
  cursor: pointer;
  float: right;
  background: -moz-linear-gradient(
    top,
    #34d134 0%,
    #185c14);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#34d134),
    to(#185c14));
  -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,1);
  -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,1);
  box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.7),
    0px 1px 0px rgba(255,255,255,0.3);
}
.input-text{
  color: darkgray;
}
#info-text {
  width: 500px;
  color: #000000;
  font-family: 
}

/*map stuff*/
#form-slide {
  background-color: lightgray;
  width: 250px;
  position: absolute;
  z-index: 10;
  margin-top: 40px;
  height: 300px;
  border-radius: 0 20px 20px 0;
}
#map {
  height: auto;
  position: relative;
}

/*footer stuff*/
footer {
  margin-top: 30px;
  text-align: center;
}
footer a{
  padding-right: 20px;
  color: darkgreen;
}